body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  padding: 20px;
  background: #222;
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}